// main: ../main-desktop.less

#lfdp {
  display: flex;
  border: 1.5rem solid @white;
  border-bottom: 0;
  align-items: center;
  flex-direction: column;

  padding: 2rem;

  background: url("../images/desktop/sky.jpg") no-repeat bottom;
  background-size: cover;

  @media (max-height: 800px) {
    border: 0;
  }
}

// --------------------- TEMPLATE

.container {
  width: 100%;
  max-width: 1312px;
  max-height: 85%;
  padding: 2.5rem 25%;

  &--half-width {
    padding: 2.5rem 15% !important;
  }

  &--full-width {
    padding: 2.5rem 10% !important;
  }
}

// --------------------- MOLECULES

.m-logo {
  &--small {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;

    width: 6rem;
    height: 6rem;

    background: url("../images/desktop/logo--small.png");
    background-size: cover;
  }

  &--big {
    background: none;
    width: 100%;
    max-width: 600px;
    height: 200px;
    background-color:black;
    position: absolute;
    top: -100px;
    left: 50%;
    transform-origin: left;
    transform: translateX(-50%);
    padding: 0 1rem;
    background: url("../images/desktop/logo--big.png") center no-repeat;
    background-size: contain;
  }
}

.m-go-back {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: @orange;

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  &:hover {
    color: @black;
  }

  &__label {
    margin-left: 0.5rem;
  }
}

.m-dotation-list {
  .a-dotation {
  flex: 1 1 33%;
  }
}

// --------------------- ATOMES

.a-prize-pool {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 50%;

    width: 100%;
    height: 2px;

    content: "";

    background-color: @orange;
    @media  (max-width: 800px){
      display: none;
    }
  }

  &::before {
    left: -110%;
  }

  &::after {
    right: -110%;
  }
}

.a-required-label {
  padding-right: 1rem;

  text-align: right;
}

.a-prize-pool {
  margin-top: 7rem;
}

// ------------------------- MODIFIERS
#lfdp.with-overlay {
  background: linear-gradient(rgba(0, 38, 58, 0.5), rgba(0, 38, 58, 0.5)),
  url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/tools.png") no-repeat 45% bottom,
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: cover, 70%, 600px, cover;
}

#lfdp.with-people {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, cover;
}

#lfdp.with-gift-hand {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/hand__gift--left.png") no-repeat 35% calc(100% - 2.5rem),
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, 200px, cover;
}

#lfdp.with-deezer-hand {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/hand__deezer--left.png") no-repeat 35% calc(100% - 2.5rem),
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, 200px, cover;
}
#lfdp
#lfdp.with-lesson-hand {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/hand__lesson--left.png") no-repeat 35% calc(100% - 2.5rem),
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, 200px, cover;
}

#lfdp.with-lost-hand {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/hand__lost.png") no-repeat 35% calc(100% - 2.5rem),
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, 200px, cover;
}

#lfdp.with-tools {
  background: url("../images/desktop/front-people.png") no-repeat 25% bottom,
  url("../images/desktop/tools.png") no-repeat 45% bottom,
  url("../images/desktop/sky--people.jpg") no-repeat bottom;
  background-size: 70%, 600px, cover;
}

