// main: ../main-mobile.less

#lfdp {
  padding-top: 3rem;

  background: url("../images/mobile/sky.jpg") no-repeat;
  background-size: cover;
}

// ------------------------- TEMPLATE
.container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 1rem;
}

// ------------------------- MOLECULES
.m-logo {
  &--small {
    position: absolute;
    z-index: 10000;
    top: -3rem;
    left: 50%;

    width: 6rem;
    height: 6rem;

    transform: translateX(-50%);

    background: url("../images/mobile/logo--small.png");
    background-size: cover;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  }

  &--big {
    background: none;
    width: 95%;
    max-width: 600px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: -5.5rem;
    padding: 0 1rem;
    background: url("../images/mobile/logo--big.png") center no-repeat;
    background-size: contain;
  }
}

.m-go-back {
  position: absolute;
  top: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: @orange;

  svg {
    width: 2rem;
    cursor: pointer;
    height: 2rem;
  }

  &:hover {
    color: @black;
  }

  &__label {
    margin-left: 0.5rem;
  }
}

.m-dotation-list {
  overflow-x: scroll;
  overflow-y: hidden;

  .a-dotation {
    flex: 0 0 80%;
    &__label {
      margin-bottom: 1rem;
    }
  }
}

.u-pannel {
  width: 90% !important;
  margin: 0 auto;
}

// ------------------------- ATOMES

.a-prize-pool {
  margin-top: 3rem;
}

// ------------------------- MODIFIERS
#lfdp.with-overlay {
  background: linear-gradient(rgba(0, 38, 58, 0.5), rgba(0, 38, 58, 0.5)),
    url("../images/mobile/tools.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat;
  background-size: 100%, 100%, cover;
}

#lfdp.with-people {
  background: url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: cover;
}

#lfdp.with-tools {
  background: url("../images/mobile/tools.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: 100%, cover;
}

#lfdp.with-gift-hand {
  background: url("../images/mobile/hand__gift--center.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: 200px auto, cover;
}

#lfdp.with-deezer-hand {
  background: url("../images/mobile/hand__deezer--center.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: 200px auto, cover;
}

#lfdp.with-lesson-hand {
  background: url("../images/mobile/hand__lesson--center.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: 200px auto, cover;
}

#lfdp.with-lost-hand {
  background: url("../images/mobile/hand__lost.png") no-repeat bottom,
    url("../images/mobile/people.jpg") no-repeat bottom;
  background-size: 200px auto, cover;
}

// HANDS ANIMATIONS
.js-handList {
  bottom: 0;
  width: 100%;

  &__item {
    &:nth-of-type(2) {
      margin-left: 2rem;
    }
  }
}
