// main: ../main-desktop.less, main: ../main-mobile.less
@import "./partials/_colors.less";
@import "./partials/_typo.less";

// --------- GLOBAL
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px Arial;

  margin: 0;
}

#lfdp {
  position: relative;
  background-color: @white;
  height: 100vh;
  color: @black;
  overflow: hidden;
}
// --------- DEFAULT ELEMENTS
h1 {
  font-family: "Leroy-Merlin-Sans-Regular", sans-serif;

  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  text-align: center;

  background: @orange--gradient--x bottom no-repeat;
  background-size: 40% 5px;
}

p {
  line-height: 1.5rem;

  max-width: 100%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
}

label,
select {
  display: inline-block;

  width: 100%;
  max-width: 20rem;
  margin: 0.25rem 0;
}

select {
  padding: 0.75rem 1rem;

  color: @gray;
  border-radius: 0.25rem;

  option {
    color: @black;
  }
}

.container {
  position: relative;

  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 0.25rem;
  background-color: @white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);

  &--full-height {
    height: 90%;
  }

  &--half-height {
    padding-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: -10rem;

      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
    }
  }
}

// --------- ATOMES
.a-required-label {
  font-size: 0.6rem;
  line-height: 2rem;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2rem;

  text-align: center;

  opacity: 0.5;
}

.a-btn {
  line-height: 2.5rem;

  position: relative;

  display: inline-block;

  width: 100%;
  max-width: 20rem;
  height: 2.5rem;
  padding: 0 2rem;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: @white;
  border-top: 0;
  border-right: 2px solid @orange--right;
  border-bottom: 0;
  border-left: 2px solid @orange--left;
  border-radius: 0.25rem;
  background: @orange--gradient--x;

  &--disabled {
    opacity: 0.4;
  }

  &:focus,
  &:hover {
    color: @orange;
    outline: 0;
    background: @orange--gradient--x top no-repeat,
      linear-gradient(white, white) 0 2px no-repeat,
      @orange--gradient--x bottom no-repeat;
    background-size: 100% 2px, 100% 90%, 100% 2px;
  }

  &:active {
    transform: translateY(1px);
  }

  &--outlined {
    color: @orange;
    background: @orange--gradient--x top no-repeat,
      linear-gradient(white, white) 0 2px no-repeat,
      @orange--gradient--x bottom no-repeat;
    background-size: 100% 2px, 100% 90%, 100% 2px;
    &:focus,
    &:hover {
      color: @white;
      outline: 0;
      background: @orange--gradient--x;
    }
  }
}

// --------- MOLECULES
.m-dotation-list {
  display: flex;
  width: 100%;
  list-style: none;
  padding-left: 0;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: @gray--light;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: @orange--gradient--y;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: @orange;
  }

  .a-dotation {
    flex: 1 1 33%;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    &__label {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}

#terms {
  max-height: 90vh;
}

.m-terms {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 1rem;
  width: 100%;

  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: @gray--light;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: @orange--gradient--y;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: @orange;
  }
}

.m-terms-footer {


  width: 100%;
  height: 2.5rem;

  text-align: center;

  background-color: @white;

  &__link {
    position: relative;
    line-height: 2.5rem;
    cursor: pointer;

    text-decoration: none;

    color: @black;
    border-bottom: 1px solid @black;
    &:hover {
      color: @orange;
      border-bottom-color: @orange;
    }

    &::before,
    &::after {
      font-size: 0.5rem;

      position: absolute;

      content: "●";

      color: @orange;
    }

    &::before {
      left: -1rem;
    }

    &::after {
      right: -1rem;
    }
  }
}

.m-social-widget {
  font-size: 0.8rem;

  position: relative;

  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 0;

  text-align: center;

  &__text {
    line-height: unset;

    margin-top: 0;
  }

  .m-social-list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;

    .a-social {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;

      svg {
        width: 2rem;
        height: 2rem;
      }

      &--facebook svg {
        color: @orange--left;
      }

      &--twitter svg {
        color: @orange;
      }

      &--instagram {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 0.25rem;
        background-color: @orange--right;

        svg {
          width: 1.5rem;
          height: 1.5rem;

          color: @white;
        }
      }
    }
  }

  &::before,
  &::after {
    position: absolute;
    left: 10%;

    width: 80%;
    height: 1px;

    content: "";
    animation: grow 1s 2000ms forwards;

    opacity: 0;
    background: @gray--light;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
// --------- UTILITIES

strong.u-stronger {
  font-weight: bolder !important;
}

.u-font-big {
  font-size: 1.5rem !important;
}

.u-text-center {
  text-align: center !important;
}

.u-ma {
  margin: auto !important;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mobile-only {
  @media (min-width: 500px) {
    display: none !important;
  }
}

.u-mobile-hidden {
  @media (max-width: 500px) {
    display: none !important;
  }
}

.u-visually-hidden {
  position: absolute !important;

  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;

  border: 0 !important;
}

.u-space-between {
  justify-content: space-between !important;
}

.u-mb-5 {
  margin-bottom: 3rem !important;
}

.u-mt-auto {
  margin-top: auto !important;
}

.u-small-caps {
  font-variant: small-caps;
}

.u-pannel {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; // pour le z-index
    z-index: 21; // pour qu'on ne voit pas l'ombre du container par defaut quand le pannel se colle à lui

  width: 100%;
  max-width: 1312px;
  background-color: @white;
  padding-bottom: 2rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

// --------- MODIFIERS

.is-hidden {
  display: none !important;
}

// --------- ANIMATIONS
.anim {
  animation-duration: 1s;
}

.anim__fadeInUp {
  animation-name: fadeInUp;

  opacity: 0;

  animation-fill-mode: forwards;
}

.anim__delay--500ms {
  animation-delay: 500ms;
}

.anim__delay--1000ms {
  animation-delay: 1000ms;
}

.anim__delay--1500ms {
  animation-delay: 1000ms;
}

.anim__delay--2000ms {
  animation-delay: 2000ms;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(25%);

    opacity: 0;
  }

  100% {
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);

    opacity: 1;
  }

  100% {
    transform: scaleX(1);

    opacity: 1;
  }
}

// HANDS ANIMATIONS
.js-handList {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0;
  transform-origin: top left;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 700px;

  // default state
  &__item {
    position: relative;

    width: 200px;
    height: 200px;
    transition: transform 500ms;

    &:nth-of-type(1) {
      background: url("../images/desktop/hand__tool--left.png");
      background-size: cover;
      margin-right: auto;
    }

    &:nth-of-type(2) {
      background: url("../images/desktop/hand__tool--mid.png");
      background-size: cover;
    }

    &:nth-of-type(3) {
      background: url("../images/desktop/hand__tool--right.png");
      background-size: cover;
    }
  }

  // is-active
  &.is-active &__left {
    animation: toggleLeft 200ms infinite alternate;
  }

  &.is-active &__mid {
    animation: toggleMid 200ms infinite alternate 200ms;
  }

  &.is-active &__right {
    animation: toggleRight 200ms infinite alternate 400ms;
  }

  &.with-left-win &__item {
    &:nth-of-type(1) {
      background: url("../images/desktop/hand__tool--left.png");
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../images/desktop/hand__tool--mid--disabled.png");
      background-size: cover;
    }

    &:nth-of-type(3) {
      background: url("../images/desktop/hand__tool--right--disabled.png");
      background-size: cover;
    }
  }

  &.with-mid-win &__item {
    &:nth-of-type(1) {
      background: url("../images/desktop/hand__tool--left--disabled.png");
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../images/desktop/hand__tool--mid.png");
      background-size: cover;
      transform: scale(1.1);
    }

    &:nth-of-type(3) {
      background: url("../images/desktop/hand__tool--right--disabled.png");
      background-size: cover;
    }
  }

  &.with-right-win &__item {
    &:nth-of-type(1) {
      background: url("../images/desktop/hand__tool--left--disabled.png");
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../images/desktop/hand__tool--mid--disabled.png");
      background-size: cover;
    }

    &:nth-of-type(3) {
      background: url("../images/desktop/hand__tool--right.png");
      background-size: cover;
      transform: scale(1.1);
    }
  }
}

@keyframes toggleLeft {
  0% {
    background: url("../images/desktop/hand__tool--left--disabled.png");
    background-size: cover;
  }

  50% {
    background: url("../images/desktop/hand__tool--left.png");
    background-size: cover;
  }

  100% {
    background: url("../images/desktop/hand__tool--left--disabled.png");
    background-size: cover;
  }
}

@keyframes toggleMid {
  0% {
    background: url("../images/desktop/hand__tool--mid.png");
    background-size: cover;
  }

  50% {
    background: url("../images/desktop/hand__tool--mid--disabled.png");
    background-size: cover;
  }

  100% {
    background: url("../images/desktop/hand__tool--mid--disabled.png");
    background-size: cover;
  }
}

@keyframes toggleRight {
  0% {
    background: url("../images/desktop/hand__tool--right.png");
    background-size: cover;
  }

  50% {
    background: url("../images/desktop/hand__tool--right--disabled.png");
    background-size: cover;
  }

  100% {
    background: url("../images/desktop/hand__tool--right--disabled.png");
    background-size: cover;
  }
}
