// main: ../../main-desktop.less, main: ../../main-mobile.less

@white: #fff;
@gray: #989099;
@gray--light: #e2e1e3;
@black: #1c1c1a;
@orange--left: #fab050;
@orange--mid: #f59065;
@orange--right: #f07a78;
@orange: @orange--mid;
@orange--gradient--x: linear-gradient(to right, @orange--left, @orange--right);
@orange--gradient--y: linear-gradient(to bottom, @orange--left, @orange--right);
