// main: ../../main-desktop.less, main: ../../main-mobile.less
@font-face {
  font-family: "Leroy-Merlin-Sans-Regular";
  font-weight: normal;
  font-style: normal;

  src: url("../../assets/fonts/LeroyMerlinSans-Web-Regular.woff") format("woff");
}

@font-face {
  font-family: "Leroy-Merlin-Sans-Regular";
  font-weight: bolder;
  font-style: normal;

  src: url("../../assets/fonts/LeroyMerlinSans-Web-SemiBold.woff")
  format("woff");
}
